* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
    
}

#one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8px;
    border: 3px solid;
    border-color: rgb(18, 24, 24);
    background-color: aqua;

}

.logo{
    display: flex;
    align-items: center;
}
.wet {
    height: 50px;
    width: 50px;
    background-color: brown;
    border-radius: 50%;
    
}

img {
    margin: 12.5px;
}

.name h1 {
    color: indigo;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-shadow: 2px 2px 2px red;
    margin-left: 8px;
}

.links a {
    color: brown;
padding: 15px; 
text-decoration: none;
text-align: center;
}

button{
    color: aliceblue;
background-color: blue;
padding: 2px;

}
button:hover{
color: rgb(224, 216, 213);
background-color: rgba(240, 11, 38, 0.9);
cursor: crosshair;


}
#logout{
position: fixed;
right: 20px;
bottom: 20px;
padding: 3px;
}